* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px; }
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center; }
    .header .header__inner .nav {
      display: flex;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase; }
      .header .header__inner .nav .nav__link {
        color: #ffffff;
        text-decoration: none;
        margin-left: 50px;
        opacity: 0.75;
        transition: opacity 0.1s linear; }
        .header .header__inner .nav .nav__link:first-child {
          margin-left: 0; }
        .header .header__inner .nav .nav__link:hover {
          opacity: 1; }

.intro {
  height: 750px;
  background: #31344e url("../images/bg_header.jpg") center no-repeat;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff; }
  .intro .intro__inner {
    max-width: 970px;
    width: 100%;
    margin: auto;
    text-align: center; }
    .intro .intro__inner .intro__title {
      font-family: 'Open Sans', sans-serif;
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.1;
      margin: 0 0 30px 0; }
    .intro .intro__inner .intro__text {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 60px; }

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  border: 0;
  cursor: pointer;
  transition: background .1s linear; }

.btn--red {
  background-color: #e84545; }
  .btn--red:hover {
    background-color: #dd3434; }

.service {
  padding: 95px 0; }
  .service .service__inner {
    display: flex;
    flex-wrap: wrap; }
    .service .service__inner .service__item {
      width: 33%;
      text-align: center;
      padding: 0 40px;
      margin: 25px 0; }
      .service .service__inner .service__item .service__icon {
        margin-bottom: 25px; }
      .service .service__inner .service__item .service__title {
        font-size: 14px;
        color: #2d3033;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .service .service__inner .service__item .service__text {
        line-height: 1.5;
        color: #6c7279;
        font-size: 14px; }

.works {
  display: flex;
  flex-wrap: wrap; }
  .works .works__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff; }
    .works .works__item:hover .works__content {
      opacity: 1; }
    .works .works__item .works__photo {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate3d(-50%, -50%, 0); }
    .works .works__item .works__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(232, 69, 69, 0.9);
      opacity: 0;
      transition: opacity .2s linear; }
    .works .works__item .works__title {
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .works .works__item .works__text {
      font-size: 14px;
      color: #ffffff; }

.team {
  padding: 100px 0 70px; }
  .team .team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
    .team .team__inner .team__item {
      width: 25%;
      padding: 0 15px;
      margin-bottom: 30px; }
      .team .team__inner .team__item .team__photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; }
      .team .team__inner .team__item .team__name {
        color: #2d3033;
        font-size: 22px;
        margin-bottom: 10px; }
      .team .team__inner .team__item .team__prof {
        color: #e84545;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 25px; }
      .team .team__inner .team__item .team__text {
        font-size: 14px;
        line-height: 1.5;
        color: #6c7279;
        margin-bottom: 20px; }

.social {
  display: flex; }
  .social .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    transition: background .1s linear; }
    .social .social__item:hover {
      background-color: #e8ecee; }
    .social .social__item:hover .social__icon {
      fill: #e84545; }
    .social .social__item .social__icon {
      fill: #c6cacc;
      display: block;
      height: 18px;
      transition: fill .1s linear; }

/*# sourceMappingURL=scss.css.map */
